<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do Produto</th>
        <th class="price">Preço</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="loading; else content">
        <tr>
          <td colspan="3">Carregando...</td>
        </tr>
      </ng-container>
      <ng-template #content>
        <tr *ngIf="!loading && produtos.length === 0">
          <td colspan="3">Nenhum produto encontrado.</td>
        </tr>
        <tr *ngFor="let produto of produtos" (click)="onProdutoClick(produto)">
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td class="price">R$ {{ produto.preco | number:'1.2-2' }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
