/* Estilos da Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-modal-background);
    color: var(--color-text-primary);
    font-family: 'Lato', sans-serif;
    box-shadow: var(--shadow-low);
}

/* Estilos das células da Tabela */
.table th, .table td {
    padding: 6px 7.5px;
    border-bottom: 1px solid var(--color-accent);
    white-space: nowrap;
}

/* Alinhamento específico por coluna */
.table .id {
    width: 2%;
    text-align: center;
}

.table .name {
    width: 85%;
    text-align: left;
}

.table .price {
    width: 10%;
    text-align: left;
}

/* Estilo do cabeçalho */
.table th {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    font-weight: bold;
}

/* Estilo do ícone de lixeira */
.table .deletar {
    text-align: center; /* Centraliza o ícone na coluna */
}

.pen {
    color: var(--color-primary);
    font-size: 20px;
    transition: transform 0.2s; /* Adiciona uma transição para efeitos visuais */
}

.trash {
    color: var(--color-secondary); /* Cor do ícone de lixeira */
    font-size: 20px;
    transition: transform 0.2s; /* Adiciona uma transição para efeitos visuais */
}

.trash:hover, .pen:hover {
    transform: scale(1.1); /* Aumenta o ícone quando o mouse passa por cima */
}

span {
    color: wheat !important;
}

td .icon {
    cursor: pointer;
}