<div class="container">
    <h1>Produtos</h1>
    <div class="search-create-wrapper">
        <app-search 
            [produtos]="produtos" 
            (searchEvent)="onSearchTriggered($event)" 
            class="search">
        </app-search>
        <app-create-button (click)="openCreateModal()" class="create"></app-create-button>
    </div>
    <app-read 
        [produtos]="produtosFiltrados" 
        [loading]="loading" 
        (produtoSelecionado)="onProdutoSelecionado($event)" 
        class="read">
    </app-read>
    <produto-modal 
        *ngIf="isModalOpen" 
        [produto]="produtoSelecionado" 
        [modo]="modoModal"
        (close)="closeModal()">
    </produto-modal>
    <router-outlet></router-outlet>
</div>
